@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&display=swap");
:root {
  --main-color: red;
  --main-color-alt: rgb(0, 200, 0);
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Cairo", sans-serif;
}
html {
  scroll-behavior: smooth;
  background-color: rgb(20, 20, 20);
  color: white;
}
.container {
  padding: 0px 10px;
  margin: 0px auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
  font-weight: 100;
}
h1 {
  font-size: 30px;
}
.container {
  min-height: calc(100vh - 33px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}
.container > div > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.child-container {
  width: 350px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(40, 40, 40);
}
.header {
  color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.balance {
  gap: 10px;
}
.balance > h2 {
  font-size: 15px;
}
.balance > p {
  font-size: 35px;
  color: var(--main-color-alt);
}
.income-expense {
  flex-direction: row;
}
.income,
.expense {
  gap: 10px;
}
.income > h3,
.expense > h3 {
  font-size: 15px;
}
.income > p {
  color: var(--main-color-alt);
  font-size: 35px;
}
.expense > p {
  color: var(--main-color);
  font-size: 35px;
}
.history {
  gap: 20px;
  padding-bottom: 20px;
}
.single-history {
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border: solid 1px white;
  cursor: pointer;
  background-color: rgb(60, 60, 60);
}
.single-history .name {
  font-size: 30px;
}
.single-history .amount {
  font-size: 20px;
}
.single-history .delete-it {
  position: absolute;
  top: 22px;
  right: -37px;
  color: var(--main-color);
  opacity: 0;
  transition: 0.3s;
  padding: 3px;
  border-radius: 3px;
  background-color: white;
}

.single-history:hover .delete-it {
  opacity: 1;
}

.single-history.incom .amount {
  color: var(--main-color-alt);
}
.single-history.expens .amount {
  color: var(--main-color);
}

.add-transaction {
  gap: 20px;
  align-items: center;
}
.add-transaction > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.add-transaction > div > h2 {
  color: var(--main-color-alt);
}
.add-transaction > div > label {
  font-size: 15px;
}
.add-transaction > div > input {
  width: 150px;
  height: 30px;
  border: solid 1px rgb(255, 255, 255);
  background-color: transparent;
  border-radius: 5px;
  outline: none;
  color: white;
  padding: 5px;
}
.add-transaction > div > p {
  font-size: 15px;
}
.add-transaction > button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  width: 250px;
  height: 50px;
  color: var(--main-color);
  background-color: transparent;
  cursor: pointer;
  border: solid 1px rgb(255, 255, 255);
  border-radius: 5px;
  transition: 0.3s;
}
.add-transaction > button:hover {
  background: var(--main-color);
  color: white;
  border: none;
}
@media (max-width: 768px) {
  .container > div {
    flex-direction: column;
  }
}
